# Pinos

NET "pinos[0]" LOC = "V8";
NET "pinos[1]" LOC = "U10";
NET "pinos[2]" LOC = "U8";
NET "pinos[3]" LOC = "T9";

# Botao1

NET "botao1" LOC = "U15";

# Botao2

NET "botao2" LOC = "T14";

# Botao3

NET "botao3" LOC = "T16";


#Saidas

NET "saidaFinal[0]" LOC = "R20";
NET "saidaFinal[1]" LOC = "T19";
NET "saidaFinal[2]" LOC = "U20";
NET "saidaFinal[3]" LOC = "U19";


#BotaoReset

NET "botaoreset" LOC = "T15";

#CLOCK

NET "CLK" LOC = "E12";
